<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.qfedu.dao.EmployeeDao">
<select id="findAll" resultType="employee">
    SELECT * FROM employee
</select>
    <insert id="add" parameterType="employee">
        INSERT  INTO employee VALUES (NULL ,#{name},#{age},#{sex},#{phone})
    </insert>
    <delete id="del" parameterType="Integer">
        DELETE FROM employee WHERE id=#{id}
    </delete>
    <select id="findEmpById" parameterType="Integer" resultType="employee">
        SELECT * FROM employee WHERE id=#{id}
    </select>
    <update id="upd" parameterType="employee">
        UPDATE employee SET name=#{name},age=#{age},sex=#{sex},phone=#{phone} WHERE id=#{id}
    </update>

    <select id="findByIndexAndSize" parameterType="map" resultType="employee">
        select * from employee limit #{index},#{size}
    </select>

    <select id="count" resultType="int">
        select count(*) from employee
    </select>
</mapper>